SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

JHIPSTER_SECURITY_AUTHENTICATION_JWT_BASE64_SECRET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

APP_BASE_URL=

DETALL_SUBLIM_INITIAL_ADMIN_LOGIN=
DETALL_SUBLIM_INITIAL_ADMIN_EMAIL=
DETALL_SUBLIM_INITIAL_ADMIN_PASSWORD=